.carrossel {

}

.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);

    text-align: center;
    text-transform: uppercase;

    font-size: 18px;
    font-weight: 700;
    font-family: var(--fonte-principal);

    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;    
    margin: 1em;
    padding: 1em;
}

.card__descricao {
    display: flex;
    justify-content: space-between;

    margin-bottom: 0.5em;
}

.descricao {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--fonte-principal);
}

.descricao__titulo {
    color: var(--laranja);
    
    font-weight: 700;
    font-family: var(--fonte-principal);

    line-height: 1.2
}

.descricao__titulo-livro {
    color: var(--azul);
    
    font-size: 18px;
    font-weight: 700;
    font-family: var(--fonte-principal);
    margin: 0.5em 0;
}

.descricao__texto {
    font-size: 14px;
    line-height: 1.5;
}

.descricao__imagem {
    border-radius: 5px;
}

.card__botoes {
    display: flex;
    justify-content:space-between;
}

.botoes {
    display: flex;
}

.botoes__item {

}

.botoes__ancora {
    color: var(--branco);

    background-color: var(--laranja);
    padding: 1em 2.2em;

    font-weight: 700;
    text-decoration: none;
    
    border-radius: 5px;
}

/* Sessão autora do mês */

.descricao__avaliacao {
    margin: 0.5em 0;
}