.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__botao {
    display: none;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;

    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;

    display: inline-block;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 50vw;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

/* Responsive 1024 */
.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        
        /* text-transform: uppercase; */
    }   

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        align-items: center;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);   
    }

    .container__imagem-transparente {
        display: none;
    
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }
}